<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cálculo de perímetros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Seleccione una figura</ion-label>
    <ion-select [(ngModel)]="figuraSeleccionada" placeholder="Elegir figura">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo escaleno</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="figuraSeleccionada === 'circulo'">
    <app-circulo></app-circulo>
  </div>

  <div *ngIf="figuraSeleccionada === 'triangulo'">
    <app-triangulo></app-triangulo>
  </div>
</ion-content>